<.header>
  Edit Activity <%= @activity.id %>
  <:subtitle>Use this form to manage activity records in your database.</:subtitle>
</.header>

<.activity_form changeset={@changeset} action={~p"/challenges/#{@challenge}/activities/#{@activity}"} />

<.back navigate={~p"/challenges/#{@challenge}/activities/#{@activity}"}>Back to activity</.back>
