<.header>
  New Activity
  <:subtitle>Use this form to manage activity records in your database.</:subtitle>
</.header>

<.activity_form changeset={@changeset} action={~p"/challenges/#{@challenge}/activities"} />

<.back navigate={~p"/challenges/#{@challenge}"}>Back to challenge</.back>
